/* base styles */
 
html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    width: 100%;
}

.inner {
    background-image: url(../images/bg.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    -webkit-clip-path : polygon(0 0, 1600px 0, 1600px 87%,0 100%);
    text-align: center;
    font-family: 'Bree Serif', serif;
    color: white;
    font-size: 2em;
}

.img-featured {
    border-radius: 50%;
    width: 170px;
    border: white solid;
    margin-top: 10px;
}

.main-nav, 
a,
li {
    list-style-type: none;
    color: white;
    display: inline;
    text-decoration: none;
    font-size: 1em;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
}


