/* base styles */
 
html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    width: 100%;
}

header {
    background-image: url(../images/bg.jpg);
    background-size: 100% 40em;
    background-repeat: no-repeat;
    transform: skewY(-2deg);
    transform-origin: 0 0;
    padding-top: 1em;
}

.inner {
    height: 500px;
    transform: skewY(2deg);
    width: 100%;
    text-align: center;
    font-family: 'Bree Serif', serif;
    color: white;
    font-size: 2em;
    
}

.inner p {
    color: yellow;
}

.img-featured {
    border-radius: 50%;
    width: 170px;
    border: white solid;
    margin-top: 105px;
}

.main-nav, 
a,
li {
    list-style-type: none;
    color: white;
    display: inline;
    text-decoration: none;
    font-size: 1em;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
}

.intro {
    text-align: center;
    font-size: 48px;
    font-family: 'Raleway', sans-serif;
}

.btn-callout {
    background-color: rgb(105, 3, 105);
    border: 1px solid black;
    border-radius: 8px;
    font-size: 30px;
}


